.recent-post {
    .recent-post__title a {
        color: $color-gray-one;
    }
    // .recent-post__topics {
        
    // }
}   

.post-topic {
    color: lightslategray;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-right: 8px;
    cursor: pointer;
}

.post-link {
   
    .post-link__box {

    }
    .post-link__link {
        
    }
}